* {
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: ivory;
}
  
  a {
	text-decoration: none;
	color: #000;
}

 /* Nav Styling */

nav {
    width: 100vw;
    height: 10vh;
    font-family: 'Montserrat', sans-serif;
    background-color: ivory;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    text-align: center;
    text-transform: uppercase;
  }
  

 nav ul {
    font-size: .8rem;
    padding-left: 1.5em;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 4em;

  }
  
  nav:hover {
    transition: 0.5s;
  }
  
  nav ul li:not(:nth-child(4)) {
		display: none;
	}
  
  li > h1:hover {
    cursor: pointer;
    transition: all 0.5s;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 1.8em;
    display:flex;
    text-shadow: 2px 1px 1px whitesmoke;
    justify-content: center;
    transform: translateY(-9%);
  }

  /* Carousel Styling */

  .img-carousel {
    position: relative;
    width: 100vw;
    overflow: hidden;
    object-fit: contain;

  }

  .images {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100vw;
    object-fit: contain;

  }

  .img-carousel li {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity .5s ease-in-out;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none;
  }

  .img-carousel li:first-child {
    display: block; 
    opacity: 1;
    
}
  
  .images li {
    position: relative;
  }

  .image {
    width: 100vw;
    height: 100vh;
    position: relative;
  }


  .image img {
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    transform: translateY(10%)
  }

  .image.accessories {
    transform: scale(1.3) translateY(-10%);
  }

  .image.formal {
    transform: translateY(-5%);
  }


/* Image Text Styling */

h2 {
  font-size: 1.7rem;
}

.content {
  max-height: 100vh;
  position: absolute;
  width: 40vw;
  text-align: right;
  font-size: 1rem;
}

.content h2 span {
  color: coral;
}

.content a {
  margin-top: 1em;
  font-size: .9rem;
  display: inline-block;
  text-transform: lowercase;
  opacity: 1;
  transform: translateY(-100%);
  transition: transform .5s .1s, 
  opacity .5s .1s;
  font-weight: bold;
}

.content.cover {
  top: 7%;
  right: 0;
  width: 80vw;
  margin-right: .3em;

}

.content.cover span, .content.cover > a {
  padding-right: .5em;
  filter: brightness(105%);
}


.content.cover > a {
  margin-top: 0;
} 

.content > a:hover {
  color: coral;
  transition: .5s;
  text-shadow: .1px .1px .1px #2c2c2c;
  letter-spacing: .1rem;
}

  
.content.accessories {
  top: 9.5%;
  right: 25.5%;
  padding-left: 9.5em;
  margin-top: 2.3em;
}

.content.accessories a {
  color: coral;
  display: flex;
  width: 100vw;
  padding-left: 3em;
  margin-top: -7px;
}

.content.accessories a:hover {
  color: #000;
  transition: .5s;
}

 .content.formal {
  top: 30%;
  right: 10%;
  display: flex;
  flex-wrap: wrap;
  width: 20vw;
  line-height: 1;
}

.content.formal a {
  margin-top: 0;
}

.content.love {
  top: 30%;
  right: 10%;
}

.content.love a {
  margin-top: 0;
}

.content.outdoors {
  top: 10%;
  right: 5%;
  padding-right: .5em;
  width: 80vw;
}

.content.outdoors span {
  filter: brightness(93%);
} 




/* Nav Arrows Styling */

span.next-btn, span.prev-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 1rem;
  color: #2c2c2c;
  font-size: 2rem;
  transition: .5s;
  user-select: none;
  opacity: .5;
  cursor: pointer;
  
}

span.next-btn {
  right: 0;
}
span.prev-btn {
  left: 0;
}

span.next-btn:hover, span.prev-btn:hover {
  color: coral;
  opacity: 1;
}

@media (min-width: 768px) {
   nav {
	height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
} 

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 8%;
  font-size: .8rem;
  list-style-type: none;
  text-transform: uppercase; 

}


nav ul li:not(:nth-child(4)) {
  display: flex;
  font-size: 1rem;
  letter-spacing: normal;
  flex-grow: 1;
}
 nav h1 {
  font-size: 1.2rem;
  letter-spacing: .2rem;
} 

  nav li > a:hover, nav li > h1:hover, nav ul:hover {
    cursor: pointer;
    transition: all 0.5s;
    text-align: center;
    letter-spacing: .7rem;
    gap: 5.5%;
  }

  .img-carousel li {
    object-fit: contain;
    background-image: linear-gradient(rgb(255, 255, 240, 0.8), 
    rgba(255, 255, 240, 0.8)),
      url("images/bg-pattern.jpg");
    background-blend-mode: lighten;
  }
   
  .image img {
    object-fit: contain;
    
  }

  .image.outdoors {
    transform: scale(.9) translate(-10%, -4%);
    left: 0;
    top: 0;
  }

/* Content Styling */

.content.cover {
  top: 8%;
  right: 11%;
}

.content.cover span, .content.cover > a {
  padding-right: 0;
  right: 0;
}

.content.accessories {
  top: 15%;
  right: 15%;
}

.content.accessories a {
  text-shadow: .1px .1px .1px #2c2c2c;
  padding-left: 10em;
}

.content.formal {
  top: 15%;
  right: 2%;
}

.content.formal a {
  margin-top: 26em;
  max-width: 10vw;
  margin-left: 1em;
}

.content.love a {
  margin-top: 15em;
  margin-right: 9.5em;

}

.content.outdoors {
  top: 14%;
}

.content.outdoors a {
  margin-top: 0;
}

}

@media (min-width: 1024px) {
  nav li > a:hover, nav li > h1:hover, nav ul:hover {
    cursor: pointer;
    transition: all 0.5s;
    text-align: center;
    letter-spacing: .9rem;
    gap: 10%;
  }

  .content.cover {
    top: 10%;
    right: 8%;
  }

  .content.accessories a {
    margin-top: 1em;
  }

  .content.formal {
    top: 30%;
  }

  .content.formal a {
    margin-top: 0;
    margin-right: 5em;
  }

  .content.love a {
    margin-top: 0;
    margin-right: 0;
  }

  /* Arrows Styling */

  span.next-btn {
    right: 5%
  }
  span.prev-btn {
    left: 5%;
  }
  
}